@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(30, 189, 142);
}

/* header and logo */

header {
  width: 100%;
  background-color: rgb(127, 131, 138);
  padding-top: 10px;
}

header h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 180%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

#logo {
  font-size: 210%;
  text-align: center;
  padding: 5px;

}

/* game objectives */
section h2 {
  color: rgb(127, 131, 138);
}

.objectives-list {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 85%;
  background-color: rgb(127, 131, 138);
  color: white;
  line-height: 1.5;
  padding: 5px;
}

ol {
  padding-inline-start: 20px;
  
}

/* words & timer */

*{
  margin: 0;
}

body{
  font-family: 'Bebas Neue', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container text-center{
color: #f39c12;
}

.menuInfo{
  min-height: 80vh;
}
#optionBtn{
  cursor: pointer;
}
.slide{
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  z-index: 10;
  box-shadow: #444 1px 0 6px 2px;
  transition: .2s ease;
  opacity: 0;
}
.slideIn{
  opacity: 1;
  top: 48px;
}
.menuCard{
  font-family: 'Kalam', cursive;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: none;
}
div button{
  width: 120px;
  margin: 5px auto;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
#current-word{
  /* font-family: 'Source Code Pro', monospace; */
  font-family: arial;
}

/* dark and light mode */
body.dark {
  background: #292C35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.theme-mode {
  margin-bottom: 12px;
}

/* footer */

footer {
  background-color: rgb(127, 131, 138);
  width: 100%;
}

footer li a:hover i {
  color: white;
  transform: rotate(-15deg) scale(1.3);
}

.socials {
  list-style-type: none;
  font-size: 150%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer a {
  color: white;
  justify-content: center;
  align-items: center;
}